@font-face {
  font-family: "Foundry Sans"; 
  src: url('../fonts/fmedium.otf');
  font-weight: 500;
}
@font-face {
  font-family: "Foundry Sans"; 
  src: url('../fonts/fnorm.otf');
  font-weight: normal;
}
@font-face {
  font-family: "Foundry Sans"; 
  font-style: italic;;
  font-weight: bold;
  src: url('../fonts/fdit.otf');
  
}
@font-face {
  font-family: "Foundry Sans"; 
  font-style: italic;;
  font-weight: 400;
  src: url('../fonts/fitm.otf');
  
}